@font-face {
  font-family: 'Tahoma';
  src: url('~assets/fonts/Tahoma Regular font.ttf') format('truetype'),
       url('~assets/fonts/TAHOMA_0.TTF') format('truetype'),
       url('~assets/fonts/TAHOMAB0.TTF') format('truetype'),
       url('~assets/fonts/TAHOMABD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Tahoma', sans-serif;
}